<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Start time</th>
    <th>End time</th>
    <th>Recurring</th>
    <th>All day</th>
  </tr>
  </thead>

  <tbody id="table_contents">
    <!-- Will be generated dynamically by JS -->
  </tbody>
</table>