<div class="row valign-wrapper">
  <div class="col s2 center-align">
    <i class="small material-icons">arrow_back</i>
  </div>
  <div class="col s8">
    <h5 class="center-align">10/16/17</h5>
  </div>
  <div class="col s2 center-align">
    <i class="small material-icons">arrow_forward</i>
  </div>
</div>

<table id="booking-table">
  <thead>
  <tr>
    <th>Spots</th>
    <% @booking_time.each do |booking| %>
    <th><%= booking["time"] %></th>
    <% end %>

  </tr>
  </thead>

  <tbody id="table-contents">
    <!-- Will be generated dynamically by JS -->

    <!-- Sample -->
    <tr><td>dummy</td></tr>
    <tr><td>dummy</td></tr>
    <tr><td>dummy</td></tr>
    <tr><td>dummy</td></tr>
    <tr><td>dummy</td></tr>
    <tr><td>dummy</td></tr>
    <tr><td>dummy</td></tr>
    <tr><td>dummy</td></tr>
    <tr><td>dummy</td></tr>
    <tr><td>dummy</td></tr>
    <tr><td>dummy</td></tr>
    <tr><td>dummy</td></tr>
    <tr><td>dummy</td></tr>
    <tr><td>dummy</td></tr>
    <tr><td>dummy</td></tr>
    <tr><td>dummy</td></tr>
    <tr><td>dummy</td></tr>
    <tr><td>dummy</td></tr>
    <tr><td>dummy</td></tr>
    <tr><td>dummy</td></tr>
    <tr><td>dummy</td></tr>
    <tr><td>dummy</td></tr>
    <tr><td>dummy</td></tr>
    <tr><td>dummy</td></tr>
    <tr><td>dummy</td></tr>
    <tr><td>dummy</td></tr>
    <tr><td>dummy</td></tr>
    <tr><td>dummy</td></tr>
    <tr><td>dummy</td></tr>
    <tr><td>dummy</td></tr>
    <tr><td>dummy</td></tr>
    <tr><td>dummy</td></tr>
    <tr><td>dummy</td></tr>
    <tr><td>dummy</td></tr>
    <tr><td>dummy</td></tr>
    <tr><td>dummy</td></tr>
    <tr><td>dummy</td></tr>
    <tr><td>dummy</td></tr>
    <tr><td>dummy</td></tr>
    <tr><td>dummy</td></tr>
    <tr><td>dummy</td></tr>
    <tr><td>dummy</td></tr>
    <tr><td>dummy</td></tr>
    <tr><td>dummy</td></tr>
    <tr><td>dummy</td></tr>
    <tr><td>dummy</td></tr>
    <tr><td>dummy</td></tr>
    <tr><td>dummy</td></tr>
    <tr><td>dummy</td></tr>
    <tr><td>dummy</td></tr>


</table>