<% content_for :head do %>
    <%= javascript_include_tag 'in_garage', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'in_garage', media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>

<div class="row center-align top-margin">
  <h3>Welcome! <%= @booking.user.name %></h3>
  <h3>Your spot is at <% @booking.garage_spot.spot.name %></h3>
</div>

<meta http-equiv="refresh" content="5; URL='<%= garage_path(@booking.garage_spot.garage.id) %>'" />