<div class="valign-wrapper whole-page">
  <div class="row valign whole-width">
    <%= form_tag garage_garages_out_success_path(@garage_id.id) do %>

        <div class="input-field">
          <%= label :length, "Your Booking ID" %>
          <br/><br/>
          <%= text_field_tag :booking_id %>
       </div>

        <%= submit_tag 'Let Me Out', class: "btn" %>

    <% end %>
  </div>
</div>