<div class="row center-align valign-wrapper whole-page">
  <h3>Thank You! <%= @booking.user.name %> </h3>
</div>


<meta http-equiv="refresh" content="5; URL='<%= garage_path(@booking.garage_spot.garage.id) %>'" />