<div class="div valign-wrapper whole-page">
  <div class="row whole-width">
    <div class="center-align"><h3>Pay</h3></div>

    <%= form_tag garage_garages_retrieve_path do %>
      <div class="input-field">
        <%= label :booking_confirmation, "Your booking Code" %>
        <%= text_field_tag :booking_confirmation %>
      </div>
      <%= submit_tag 'Confirm', class: "btn" %>
    <% end %>
    
  </div>
</div>
