<div class="valign-wrapper whole-page">
  <div class="row valign whole-width">
    <%= form_tag home_next_url(@booking) do %>

        <div class="input-field">
          <%= label "length", "How long will you stay?" %>
          <%= text_field :length, id: "length" %>
        </div>

        <%= submit_tag 'Save', class: "waves-effect waves-light btn" %>
    <% end %>
  </div>
</div>