<div class="input-field">
    <%= link_to_remove_association "Delete", f, class: "btn" %>
    <%= f.label :license_plate %>
    <%= f.text_field :license_plate, autofocus: true, required: true %>
</div>