<%= javascript_include_tag 'users', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag 'users', media: 'all', 'data-turbolinks-track': 'reload' %>

<h2>Show All Users</h2>
<%= @user.inspect %>