@import "materialize/components/color";
$primary-color: color("blue-grey", "darken-4") !default;
$secondary-color: color("light-blue","lighten-1") !default;
$background-dark-color: #5F0F4E !default;
$background-light-color: #e6ecf0 !default;