<div class="row center-align">
  <img src="http://i0.kym-cdn.com/entries/icons/original/000/005/543/Image7.png" alt="">
</div>

<!--Modal Trigger-->
<a class="modal-trigger waves-effect waves-light btn" data-turbolinks="false" href="#modal1"> Modal</a>

<!--Modal Structure-->
<div class="modal modal-fixed-footer" id="modal1">
   <div class="modal-content">
      <h4>Modal Header</h4>
      <p>TQ Melvin</p>
   </div>
   <div class="modal-footer">
      <a class="modal-action modal-close waves-effect waves-blue btn-flat" href="#!">Agree</a>
   </div>
</div>