<div class="valign-wrapper">
  <div class="row center-align">
    <div class="preloader-wrapper big active">
      <div class="spinner-layer spinner-blue-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>

    <div class="preloader-wrapper big active">
      <div class="spinner-layer spinner-red-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>

    <div class="preloader-wrapper big active">
      <div class="spinner-layer spinner-green-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Modal Trigger-->
<a class="modal-trigger waves-effect waves-light btn" data-turbolinks="false" href="#modal1"> Modal</a>

<!--Modal Structure-->
<div class="modal modal-fixed-footer" id="modal1">
   <div class="modal-content">
      <h4>Modal Header</h4>
      <p>TQ Melvin</p>
   </div>
   <div class="modal-footer">
      <a class="modal-action modal-close waves-effect waves-blue btn-flat" href="#!">Agree</a>
   </div>
</div>