<%= javascript_include_tag 'home', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag 'home', media: 'all', 'data-turbolinks-track': 'reload' %>

<%# <div class="map-frame" style='width: 100%;'>
  <div id="map" style='width: 100%; height: 50vh;'></div>
</div> %>

<div class="row top-margin">
  <img src="http://via.placeholder.com/1075x350">
</div>

<ul>
  <li>
    <div class="row">
      <div class="col s12 m4">
        <img src="http://via.placeholder.com/300x150">
      </div>

      <div class="col s12 m8">
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam</p>
      </div>
    </div>
  </li>
</ul>

<div id="fade-image" class="row">
  <img src="http://via.placeholder.com/1075x150">
</div>

<ul id="staggered-1" class="staggered-list">
  <li>
    <div class="row">
      <div class="col s12 m8">
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam</p>
      </div>

      <div class="col s12 m4">
        <img src="http://via.placeholder.com/300x150">
      </div>
    </div>
  </li>
</ul>

<ul id="staggered-2" class="staggered-list">
  <li>
    <div class="row">
      <div class="col s12 m4">
        <img src="http://via.placeholder.com/300x150">
      </div>

      <div class="col s12 m8">
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam</p>
      </div>
    </div>
  </li>
</ul>

<ul id="staggered-3" class="staggered-list">
  <li>
    <div class="row">
      <div class="col s12 m8">
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam</p>
      </div>

      <div class="col s12 m4">
        <img src="http://via.placeholder.com/300x150">
      </div>
    </div>
  </li>
</ul>

<!-- Do not modify or move away anything below -->
<script type="text/javascript">  
handler = Gmaps.build('Google');  
handler.buildMap({ 
  provider: {
        zoom:      20,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        styles:    mapStyle
      },
  internal: {id: 'map'}
  }, 
  
  function(){  
  markers = handler.addMarkers(<%=raw @all_garages.to_json %>);  
  handler.bounds.extendWith(markers);  
  handler.fitMapToBounds();  
  handler.getMap().setZoom(15);  
});  
</script>