<div id="account">
    <div class="wrapper">
        <div class="circle responsive-img profPic"><%= image_tag @user.avatar.url(:thumb) %></div>

        <div class="card descrip">
          <div class="profile-info">
            <div class="info-wrapper">
              <div class="row">
                <div class="col s12 m4 offset-m4 center-align">
                  <div><%= @user.name %></div>
                  <div><%= @user.email %></div>
                  <div><%= number_to_phone(@user.phone, area_code: true) %></div>
                </div>
              </div>
            </div>
            <div id="edit-profile"><i class="small material-icons tooltipped" data-position="left" data-delay="50" data-tooltip="Edit Profile"><a class="clickable">edit</a></i></div>
          </div>
        </div>

        <div class="cover"></div>
    </div>
</div>