<div id="account" class="profile-container">
  <div class="row valign-wrapper">

    <div class="col s12 m4 center-align">
      <img class="circle" src="http://via.placeholder.com/200x200">
    </div>

    <div class="col s12 m3 center-align">
      <div class="row body-text">Shazam Sew</div>
      <div class="row body-text"><%= @user.email %></div>
      <div class="row body-text">(408) 222-1234</div>
    </div>

    <div class="col s12 m5 center-align">
      <div><a href="#" data-activates="slide-out" class="button-collapse btn waves-effect waves-light">More</a></div>
      <br>
      <div><a href="#" class="btn waves-effect waves-light">Edit</a></div>
    </div>

  </div>

  <%=render "users/registrations/edit"%>
  
</div>

