<div id="history" class="profile-container">
  <div class="row center-align">
      <h5>Reservation</h5>
  </div>

  <div class="row valign-wrapper">

    <div class="col s12 m10 center-align">
      <%= render "users/user_profile/reservation" %>
    </div>

    <div class="col s12 m2 center-align">
      <div><a href="#" data-activates="slide-out" class="button-collapse btn waves-effect waves-light">More</a></div>
    </div>

  </div>
</div>