<div id="history" class="profile-container">
  <div class="row center-align">
      <h5>Reservation</h5>
  </div>

  <div class="row valign-wrapper">

    <div class="col s12 m10 center-align">
      <%= render "users/user_profile/reservation" %>
    </div>


  </div>
</div>