<div id="history" class="profile-container">
  <div class="row valign-wrapper">

    <div class="col s12 m7 center-align">
      <div class="row body-text">Back in the days...</div>
    </div>

    <div class="col s12 m5 center-align">
      <div><a href="#" data-activates="slide-out" class="button-collapse btn waves-effect waves-light">More</a></div>
      <br>
      <div><a href="#" class="btn waves-effect waves-light">Edit</a></div>
    </div>

  </div>
</div>