<div id="vehicle" class="top-margin bottom-padding">
  <div class="row">
    <% @user.licenseplates.each do |licenseplate| %>
        <div class="col s12 m6">
          <div class="vehicle-wrapper">
            <div class="row">
              <div class="col s3">
                <div><label>Plate:</label></div>
                <div><label>Make:</label></div>
                <div><label>Year:</label></div>
                <div><label>Color:</label></div>
              </div>
              <div class="col s9">
                <div><span class="truncate"><%= (licenseplate.license_plate)? licenseplate.license_plate : "N/A" %></span></div>
                <div><span class="truncate"><%= (licenseplate.make.nil? || licenseplate.make == "")? "N/A" : licenseplate.make %></span></div>
                <div><span class="truncate"><%= (licenseplate.year.nil? || licenseplate.year == "")? "N/A" : licenseplate.year %></span></div>
                <div><span class="truncate"><%= (licenseplate.color.nil? || licenseplate.color == "")? "N/A" : licenseplate.color %></span></div>
              </div>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>