<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @booking.garage_spot.garage.name %> Admin!</h1>
    <p>License plate mismatch is found at your garage. The booking is starts at <%= @booking.start_time %> and ends at <%= @booking.end_time %>. The spot is <%= @booking.garage_spot.spot.name %></p>
    <p>Refer to your dashboard for more information!</p>
  </body>
</html>