@import "utilities/variables";
@import "materialize";
@import "materialize/extras/nouislider";
@import "simple_calendar";
@import "qr_code";
@import "abracadabra-scss";

.brand-logo {
  margin-left: 15px;
}

.header-btn {
  border: 1px dashed white;
  color: white;
}

.whole-page {
  height: 100vh;
}

.whole-width {
  width: 100%;
}

.top-margin {
  margin-top: 20px;
}

.img-container {
  width: 100%;
}

.img-container img {
  height: 100%;
  width: 100%;
}

.btn,
.btn-flat {
  border-radius: 15px;
}

.tabs-content .carousel-item {
  height: auto;
}

.carousel .carousel-item {
  width: 100%;
}

.clickable {
  cursor: pointer;
}

.bold {
  font-weight: bold;
}

.tabs {
  margin-bottom: 20px;
}

.tabs-content {
  margin-bottom: 20px;
}

@media only screen and (max-width: 600px) { .row.valign-wrapper { display: inherit; } }