/*
 *= require jquery-ui
 */

@import "utilities/variables";
@import "materialize";
@import "materialize/extras/nouislider";
@import "simple_calendar";
@import "qr_code";
@import "abracadabra-scss";

html {
  overflow-x: hidden;
}

.brand-logo {
  margin-left: 1em;
}

.margin-right {
  margin-right: 1em;
}

.header-icons:hover {
  color: $secondary-color;
}

.whole-page {
  height: 100vh;
}

.whole-width {
  width: 100%;
}

.full-width-bar {
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  left: 50%;
}

.top-margin {
  margin-top: 20px;
}

.bottom-padding {
  padding-bottom: 20px;
}

.nav-wrapper img {
  height: 100%;
  color: white;
}

.brand-logo {
  margin-left: 1em;
}

.img-container img {
  height: 100%;
  width: 100%;
}

.tabs-content .carousel-item {
  height: auto;
}

.carousel .carousel-item {
  width: 100%;
}

.clickable {
  cursor: pointer;
}

.bold {
  font-weight: bold;
}

.tabs {
  margin-bottom: 20px;
}

.tabs-content {
  margin-bottom: 20px;
}

.nav-wrapper .blue-logo {
  display: none;
}

.gmaps-wrapper {
  padding: 0.5em 0.5em 0.5em 0.5em;
}

.gmaps-row {
  margin-bottom: 0.5em;
}

.map-frame {
  width: 100%;
  margin-bottom: 1em;
}

.invert-btn {
  color: $secondary-color;
  background-color: white;
  border: 1px solid $secondary-color;
}

.invert-btn:hover {
  color: white;
}

#map {
  width: 100%;
  height: 50vh;
}

#gmap-icon,
#close-gmap {
  margin-top: 3em;
}

#close-gmap {
  display: none;
}

#reservation-form button[type="submit"] {
  display: none;
}

.error-message {
  color: red;
}

@media only screen and (max-width: 600px) { .row.valign-wrapper { display: inherit; } }