@import "materialize/components/color";
$primary-color: color("deep-orange", "accent-3") !default;
$secondary-color: color("green", "accent-4") !default;
@import "materialize";
@import "materialize/extras/nouislider";
@import "simple_calendar";

.brand-logo {
  margin-left: 15px;
}

.header-btn {
  border: 1px dashed white;
  border-radius: 15px;
  color: white;
}

.whole-page {
  height: 100vh;
}

.whole-width {
  width: 100%;
}

.dev .row {
  border: 1px dashed black;
}

.dev .col {
  border: 1px dashed black;
}
