@import "utilities/variables";

.spot-taken {
  background-color: $background-dark-color;
  border: 1px solid white;
}

.spot-free {
  background-color: $background-light-color;
  border: 1px solid white;
}