.staggered-list li {
  opacity: 0;
}

#fade-image {
  opacity: 0;
}

#reserve-home-btn {
  position: absolute;
  left: 50%;
  margin-left: -55px;
}

#reserve-form {
  display: none;
  background-color: black;
  color: white;
  width: 100%;
}

#img-home {
  height: 350px;
}