@import "utilities/variables";
.staggered-list li {
  opacity: 0;
}

.top-margin {
  height: 100%;
}

#fade-image {
  opacity: 0;
}

#reserve-home-btn {
  position: absolute;
  left: 50%;
  margin-left: -55px;
}