@import "utilities/variables";

.notification-block {
  border: solid 3px $background-light-color;
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px 10px 10px 10px;
}

.notification-block .material-icons {
  margin-right: 40px;
  margin-top: 5px;
}

.modal {
  width: 25% !important;
  height: 25% !important;
  margin-top: 9.373em !important;
}

#confirmation-modal {
  padding-top: 1em;
}

.notification-page {
  display: none;
}