@import "utilities/variables";

#reserve-form {
  display: none;
  height: 100%;
  width: 100%;
  padding: 20px 20px 20px 20px;
}

@media screen and (min-width: 800px) {
  #reserve-form {
    border: $background-light-color solid 2px;
  }
}
