.body-text {
  font-size: 20px;
}

.profile-container {
  padding: 20px 20px 20px 20px;
}

.profile-container .row {
  margin-bottom: 0px;
}

.parent-height {
  height: inherit;
}

.qr-picture {
  display: none;
}

//.booking-row:hover {
//  background-color: rgba(0, 0, 0, 0.05);
//}

#vehicle-edit,
#edit,
#password {
  display: none;
}