@import "utilities/variables";

.body-text {
  font-size: 20px;
}

.profile-container {
  padding: 20px 20px 20px 20px;
}

.profile-container .row {
  margin-bottom: 0px;
}

.parent-height {
  height: 100%;
}

.qr-picture {
  display: none;
}

.license-field-wrapper {
  border: 2px solid $background-light-color;
  padding: 1em 1em 1em 1em;
}

#vehicle-edit,
#edit,
#password {
  display: none;
}

//Rotating profile cards
.custom-container {
  display: inline-block;
  width: 33%;
  height: 9.75em; //tbmodify
  min-width: 33%;
  max-width: 66%;
  float: left;
  position: absolute;
}

#profile-row {
  position: relative;
}

.active-main {
  width: 66%;
}

.top-right {
  top: 0px;
}

.bottom-right {
  top: 10.25em;
}

.inactive-main {
  right: 0px;
  overflow: hidden;
}

.inactive-main:hover {
  cursor: pointer;
}

.content-main {
  opacity: 0;
}