@import "utilities/variables";

.body-text {
  font-size: 20px;
}

.profile-container {
  padding: 20px 20px 20px 20px;
}

.profile-container .row {
  margin-bottom: 0px;
}

.parent-height {
  height: 100%;
}

.qr-picture {
  display: none;
}

.license-field-wrapper {
  border: 2px solid $background-light-color;
  padding: 1em 1em 1em 1em;
}

#vehicle-edit,
#edit,
#password {
  display: none;
}

//Rotating profile cards
.custom-container {
  display: inline-block;
  width: 33%;
  height: 9.75em; //tbmodify
  min-width: 33%;
  max-width: 66%;
  float: left;
  position: absolute;
}

#profile-row {
  position: relative;
}

.active-main {
  width: 66%;
}

.top-right {
  top: 0px;
}

.bottom-right {
  top: 10.25em;
}

.inactive-main {
  right: 0px;
  overflow: hidden;
}

.inactive-main:hover {
  cursor: pointer;
}

.content-main {
  opacity: 0;
}

//User avatar
.circle {
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  height: 200px;
  width: 200px;
  overflow: hidden;
  img { width: 100% }

  float: right;
}

//User profile
.wrapper {
  position: relative;
  height: 40em;
  width: 100%;
  margin-left:0px;
  margin-right:0px;
}

.cover {
  position: absolute;
  top: 2px;
  width: 100%;
  height: 60%;
  background: url('https://goo.gl/Jwkp4f');
}

.profPic {
  position: absolute;
  left: 50%;
  margin-left: -100px;
  top: 50%;
  margin-top: -63px;
  background-position: left top;
  background-size: cover;
  border-radius: 100px;
  border: 5px solid white;
  box-shadow: 0px 0px 8px black;
  z-index: 2;
}

.descrip {
  position: absolute;
  bottom: 0px;
  padding-bottom: 10px;
  padding-top: 100px;
  text-align: center;
  height: 40%;
  width: 100%;
}

